<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>basic-chat</title>
		<script src="socket.io/socket.io.js"></script>
		<script>const username = "<%= username %>";</script>
		<script type="module" src="index.js"></script>

	</head>
	<body>
		<ul style="list-style-type: none;" id="chat"></ul>
		<spam contenteditable style="border: 1px solid black; display: inline-block; min-width: 10em; max-width: calc(100% - 4em);" id="message-text"></spam>
		<button id="send-message">send</button>
	</body>
</html>